.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background-hf);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  transition: opacity 0.6s ease, visibility 0.6s ease;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  animation: fadeInUp 1.2s ease;
  color: var(--color-base);
  text-shadow: var(--shadow-small);
}

.logo {
  background-color: var(--background-button);
  height: 256px;
  width: 256px;
  border-radius: 50%;
  border: var(--border-small);
  animation: dual-glow-pulse 8s ease-in-out infinite;
  transition: transform 0.4s ease;
}

.title {
  animation: neonFlicker 7s infinite;
  will-change: opacity, text-shadow, color;
}

@keyframes dual-glow-pulse {
  0% {
    transform: scale(1);
    box-shadow: var(--shadow-medium);
  }
  50% {
    transform: scale(1.2);
    box-shadow: var(--shadow-large);
  }
  100% {
    transform: scale(1);
    box-shadow: var(--shadow-medium);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes neonFlicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  77%,
  79%,
  88%,
  100% {
    opacity: 1;
    text-shadow: var(--shadow-large);
  }
  20%,
  24%,
  55%,
  78%,
  80%,
  89% {
    opacity: 0.7;
    text-shadow: var(--shadow-small);
  }
  81%,
  85% {
    opacity: 0.5;
    text-shadow: var(--shadow-tiny);
  }
}
