.button {
  background: none;
  color: var(--color-base);
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.button:hover {
  transform: scale(1.05);
  text-shadow: var(--shadow-medium);
}

.slider {
  box-shadow: var(--shadow-small);
  width: 100px;
  margin-left: 8px;
  accent-color: var(--color-base);
  cursor: pointer;
}
